.board-component{
    .board{
        min-width: 300px;
        min-height: 300px;
        max-width: 450px;
        max-height: 450px;
        margin: 0 auto;
        background-color: #FFFFFF;
        border-radius: 0.5rem;
        color: #64686F;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        box-shadow: 0.1rem 0.1rem 0.4rem rgba(0,0,0,.15)!important
    }
    .box{
        color:#64686F;
        background-color:initial;
        border-color: rgba(100, 104, 111, 0.5);
        border-right: 1px;
        border-right-style: solid;
        border-bottom: 1px;
        border-bottom-style: solid;
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none !important;
        font-size: 1.5rem;
    }
    .box-checked{
        color:#64686F;
        background-color: rgba(255, 226, 165, 0.87);
        border-color: rgba(100, 104, 111, 0.5);
        border-right: 1px;
        border-right-style: solid;
        border-bottom: 1px;
        border-bottom-style: solid;
        font-weight: bold;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none !important;
        font-size: 1.5rem;
    }
    .box:nth-child(n), .BoxChecked:nth-child(n){
        border-top: 0px;
        border-left: 0px;
    }
    .box:nth-child(n+7){
        border-bottom: 0px;
    }
    .box:nth-child(3n){
        border-right: 0px;
    }

}